.app {
  max-width: 580px;
  padding: 80px 40px 0px 40px;
  display: flex;
  flex-direction: column;
  font-size: 15px;
  color: rgb(148, 148, 156);
  font-weight: 400;
  margin: 0 auto;
}

.name {
  position: relative;
}

.name h1 {
  font-size: 20px;
  font-weight: 600;
  color: #ffffff;
  margin-bottom: 30px;
}

.name a,
.contact a {
  color: #08d9d6;
  text-decoration: none;
  text-shadow: 2px 2px 12px #08d9d6;
}

.name a:hover,
.contact a:hover {
  color: #e84545;
  text-shadow: 2px 2px 12px #d2daff;
  transition: ease 0.3s;
}

.contact h4 {
  font-size: 18px;
  font-weight: 600;
  margin: 70px 0 20px 0;
  color: #ffffff;
}

.home-image {
  flex-shrink: 0;
  margin: 50px 0 0 0;
}

.portrait-img {
  max-width: 150px;
  width: 100%;
  height: auto;
  border-radius: 6px;
}

.home-image p {
  margin: 8px 0 0 0;
  font-size: 10px;
  color: rgb(148, 148, 156);
  font-style: italic;
  font-weight: 300;
  max-width: 150px;
}

@media screen and (max-width: 530px) {
  .app {
    padding: 80px 20px 0px 20px;
  }

  .portrait-img {
    max-width: 120px;
  }

  .home-image p {
    font-size: 8px;
  }
}
